body {
  color: rgb(202, 202, 202);
  background: rgb(43, 43, 43);
}
img {
  border:solid black;
}
p {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
h1 {
  color: white;
  text-decoration-line:underline;
  text-decoration-color: red;
}
hr {
  color: cyan;
}
div {
  padding-bottom: 110px;
}